@CHARSET "UTF-8";

#header .logo {
	width: 300px;
	height: 56px;
	background: url(../img/logo.png) no-repeat;
	text-indent: -9999px;
	display: block;
}

form#log_in {
	margin: 0px;
	margin-top: 2px;
	margin-left: 10px;
}

.remember_me {
	color: white;

}


#log_in button {
	margin: 0px;
	margin-left: 5px;
}

#logBar{
	padding-right:0px;
}